body{
    max-height: 100vh;
    background: linear-gradient(-45deg, rgb(248, 74, 234), rgb(0,0,0), rgb(25, 181, 253));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    text-align: center;
}
.presentacion, footer{
    align-items: center;
    text-align: center;
}
.titulo,h2{
    color: yellow;
    font-size: 1.5em;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.logo{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.auspicio{
    width:90vw;
}
.copa{
    color: rgb(50, 139, 50);
    font-size: 1.5em;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
h3,h4{
    color:rgb(149, 230, 250);
}
p{
  text-align: justify;  
}
.numzona{
    color:pink;
    font-size: 1.5em;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
}
.menu a {
    display: block;
    width: 30%;
    padding: 1%;
    font-size: 1.3em;
    border: 1px solid rgb(247, 201, 201);
    background: rgb(10, 10, 10);
    color: rgb(120, 245, 172);
    text-align: center;
    justify-content: center;
}
th{
    border-bottom: 2px solid;
    border-color: black;
    text-align: center;
}
td{
    border-bottom: 1px solid rgb(0,0,0);
    text-align: center;
}
.parejas, .zonas, .reglas{
    background-color: rgba(211, 167, 247, 0.76);
    opacity:0.7;
    margin: 0 auto;
    text-align: center;
    align-content:center;
    border: 1px solid;
    border-radius: 1em;
    padding: 1em;
    border-color: rgb(43, 1, 71);
    width: fit-content;
}
.diagrama{
    background-color: rgba(245, 112, 179, 0.76);
    opacity:0.7;
    margin: 0 auto;
    text-align: center;
    align-content:center;
    border: 1px solid;
    border-radius: 1em;
    padding: 1em;
    border-color: rgb(231, 3, 136);
    width:fit-content;
    font-size: 0.5em;
}
.click{
    align-items:right;
    text-align: right;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: beige;
}
footer{
    display:block;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}
